<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FarmerAndPartners.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logFile" xsi:type="File" layout="${longdate}| ${uppercase: ${level}}| ${logger}| ${message}"
     fileName="${basedir}/logs/${shortdate}.log" keepFileOpen="false" encoding="UTF-8"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="logFile"/>
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="FarmerAndPartnersEntities" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=FarmerAndPartners;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<applicationSettings>
		<FarmerAndPartners.Properties.Settings>
			<setting name="UsersTableName" serializeAs="String">
				<value>Users</value>
			</setting>
			<setting name="CompaniesTableName" serializeAs="String">
				<value>Companies</value>
			</setting>
		</FarmerAndPartners.Properties.Settings>
	</applicationSettings>
</configuration>
